# Base16 {{scheme-name}} - ncspot color config
# {{scheme-author}}

[theme]
background = "#{{base00-hex}}"
primary = "#{{base05-hex}}"
secondary = "#{{base01-hex}}"
title = "#{{base06-hex}}"
playing = "#{{base06-hex}}"
playing_bg = "#{{base00-hex}}"
highlight = "#{{base05-hex}}"
highlight_bg = "#{{base02-hex}}"
error = "#{{base05-hex}}"
error_bg = "#{{base07-hex}}"
statusbar = "#{{base00-hex}}"
statusbar_progress = "#{{base06-hex}}"
statusbar_bg = "#{{base06-hex}}"
cmdline = "#{{base05-hex}}"
cmdline_bg = "#{{base00-hex}}"
